#main {
    max-width: 700px;
    margin: 30px auto 10px;
    font-family: sans-serif;
}

#header {
    font-size: 35px;
    margin-bottom: 7px;
    font-style: italic;
    text-align: center;
}

#toolbar {
    border: 2px solid;
    display: flex;
    height: 40px;
    box-shadow: 3px 3px 11px 0px darkgrey;
    transition: all 400ms;
}

#toolbar:focus-within{
    box-shadow: 3px 3px 11px 0px #656565;
}

#input-box {
    border: none;
    font-size: 18px;
    padding-left: 4px;
    flex-grow: 2;
}

:focus{
    outline: none;
}

#add-button {
    color: white;
    border: none;
    width: 56px;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s;
    border-left: 2px solid black;
}

#add-button:hover, #add-button:focus {
    background-color: #39ff00;
    outline: none;
}

#add-button > img {
    height: 21px;
    margin-top: 1px;
    margin-left: 3px;
    margin-right: 3px;
}

#items {
    margin-top: 10px;
    list-style: none;
    padding: 0px;
    display: flex;
    flex-flow: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#empty{
    display: none;
}

#item{
    min-height: 30px;
    display: flex;
    align-items: center;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
}

#item:hover, #item:focus {
    border: 2px solid #c4c4c4;
}

#item.active{

}

#item.active:hover{

}

#item.done{
    background-color: #f3f3f3;
    color: gray;
    opacity: 0.8;
    border: 2px solid #f3f3f3;
    filter: blur(0.5px);
}

#item.done:hover, #item.done:focus{
    border: 2px solid #c4c4c4;
}

#item.done span {
    text-decoration: line-through;
}

#item > span {
    flex-grow: 2;
    margin: 3px;
}

#delete-button{
    border: none;
    border-left: 2px solid transparent;
    background-color: transparent;
    transition: all 0.5s;
    opacity: 0;
    cursor: pointer;
    align-self: stretch;
    display: flex;
    align-items: center;
    width: 32px;
    justify-content: center;
    height: 32px;
}

#delete-button:hover, #delete-button:focus {
    background-color: #ff756f;
    outline: none;
    border-left: 2px solid lightgray;
    opacity: 1;
}

#item.active:hover > #delete-button, #item.active:focus > #delete-button{
    opacity: 1;
}

#item.done:hover > #delete-button, #item.done:focus > #delete-button{
    opacity: 0.6;
}

#delete-button > img{
    height: 22px;
}

#footer {
    background-color: yellow;
    margin-top: 10px;
    border: 2px solid;
}